<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>富头像上传编辑</title>
        <script type="text/javascript" src="js/swfobject.js"></script>
        <script type="text/javascript" src="js/fullAvatarEditor.js"></script>
        <script type="text/javascript" src="js/fullAvatarSetup.js"></script>
    </head>
    <body>
		<div style="width:630px;">
			<div>
				<p id="swfContainer">
                    本组件需要安装Flash Player后才可使用，请从<a href="http://www.adobe.com/go/getflashplayer">这里</a>下载安装。
				</p>
			</div>
        </div>
    </body>
</html>